/* ----Screen Size Up to 575px---- */
@media screen and (max-width: 575px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    header {
        height: auto;
        padding-bottom: 40px;
    }

    /* ----Navbar---- */
    nav {
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        column-gap: 15px;
        max-width: 85%;
        row-gap: 10px;
        margin: 0 auto;
    }

    /* ----Banner Section---- */
    .banner {
        margin-top: 80px;
    }

    .background-image-1,
    .background-image-2 {
        display: none;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner .buttons {
        gap: 14px;
        /* justify-content: space-between; */
    }

    .banner .buttons button {
        font-size: 16px;
        padding: 14px 20px;
    }

    /* ----Banner Cards Section---- */
    #banner-cards {
        display: none;
    }

    /* ----About Us Section---- */
    #about {
        margin-top: 64px;
    }

    #about .item-child {
        flex-direction: column;
        align-items: center;
    }

    .about-info h4 {
        font-size: 18px;
    }

    .about-info h1 {
        font-size: 30px;
    }

    .about-info p {
        font-size: 16px;
    }

    .about-wrapper .item-child .texts h1 {
        font-size: 32px;
    }

    .about-wrapper .item-child .texts p {
        font-size: 18px;
        text-align: justify;
    }

    .about-wrapper .cover-img img {
        width: 100%;
    }

    .about-wrapper .item-child {
        gap: 50px;
    }
}


/* ----Screen Size Up to 768px---- */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    header {
        height: auto;
        padding-bottom: 40px;
    }

    /* ----Navbar---- */
    nav {
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        column-gap: 15px;
    }

    /* ----Banner Section---- */
    .banner {
        margin-top: 80px;
    }

    .background-image-1,
    .background-image-2 {
        display: none;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner .buttons button {
        font-size: 16px;
        padding: 14px 20px;
    }

    /* ----Banner Cards Section---- */
    #banner-cards {
        display: none;
    }

    /* ----About Us Section---- */
    #about {
        margin-top: 64px;
    }

    #about .item-child {
        flex-direction: column;
        align-items: center;
    }

    .about-info p {
        font-size: 17px;
    }

    .about-wrapper .item-child .texts h1 {
        font-size: 32px;
    }

    .about-wrapper .item-child .texts p {
        font-size: 18px;
        text-align: justify;
    }

    .about-wrapper .cover-img img {
        width: 100%;
    }

    .about-wrapper .item-child {
        gap: 50px;
    }
}


/* ----Screen Size Up to 992px---- */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    header {
        height: auto;
        padding-bottom: 70px;
    }

    /* ----Navbar---- */
    nav .buttons .btn-2 {
        padding: 10px 24px;
    }

    nav .buttons {
        gap: 10px;
    }

    .nav-logo {
        font-size: 24px;
    }

    .nav-links {
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .nav-links li {
        font-size: 12px;
    }

    /* ----Banner Section---- */
    .banner {
        margin-top: 80px;
    }

    .background-image-1,
    .background-image-2 {
        display: none;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner .buttons button {
        font-size: 16px;
        padding: 14px 20px;
    }

    /* ----Banner Cards Section---- */
    #banner-cards {
        display: none;
    }

    /* ----About Us Section---- */
    #about {
        margin-top: 64px;
    }

    #about .item-child {
        flex-direction: column;
        align-items: center;
    }

    .about-info p {
        font-size: 18px;
    }

    .about-wrapper .item-child .texts h1 {
        font-size: 36px;
    }

    .about-wrapper .item-child .texts p {
        /* font-size: 18px; */
        text-align: justify;
    }

    .about-wrapper .cover-img img {
        width: 100%;
    }

    .about-wrapper .item-child {
        gap: 50px;
    }
}


/* ----Screen Size Up to 1200px---- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    header {
        height: auto;
        padding-bottom: 120px;
    }

    /* ----Navbar---- */
    nav .buttons .btn-2 {
        padding: 10px 24px;
    }

    .nav-logo {
        font-size: 30px;
    }

    .nav-links {
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .nav-links li {
        font-size: 14px;
    }

    /* ----Banner Section---- */
    .banner {
        margin-top: 80px;
    }

    .background-image-1,
    .background-image-2 {
        width: 220px !important;
        height: 120px !important;
    }

    .background-image-1 {
        left: 35px !important;
    }

    .background-image-2 {
        right: 35px !important;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner .buttons button {
        font-size: 16px;
        padding: 14px 20px;
    }

    /* ----Banner Cards Section---- */
    #banner-cards {
        margin: -100px 0 0 0;
    }

    .cards {
        gap: 30px;
    }

    .card-item1 img {
        width: 230px;
        height: 300px;
    }

    .card-item2 img {
        width: 230px;
    }

    .card-item3 img {
        width: 270px;
        height: 270px;
        margin-left: -100px;
    }

    /* ----About Us Section---- */
    #about {
        margin-top: 64px;
    }

    #about .item-child {
        flex-direction: column;
        align-items: center;
    }

    .about-info p {
        font-size: 19px;
    }

    .about-wrapper .item-child .texts h1 {
        font-size: 36px;
    }

    .about-wrapper .item-child .texts p {
        text-align: justify;
    }

    .about-wrapper .cover-img img {
        width: 100%;
    }

    .about-wrapper .item-child {
        gap: 50px;
    }
}



/* ----Screen Size Up to 1400px---- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    header {
        height: auto;
        padding-bottom: 240px;
    }

    /* ----Navbar---- */
    .nav-logo {
        font-size: 40px;
    }

    .nav-links {
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .nav-links li {
        font-size: 16px;
    }

    /* ----Banner Section---- */
    .banner {
        margin-top: 80px;
    }

    .background-image-1,
    .background-image-2 {
        width: 280px !important;
        height: 190px !important;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner .buttons button {
        font-size: 16px;
        padding: 14px 20px;
    }

    /* ----Banner Cards Section---- */
    #banner-cards {
        margin: -180px 0 0 0;
    }

    .cards {
        gap: 30px;
    }

    .card-item1 img {
        width: 320px;
        height: 400px;
    }

    .card-item2 img {
        width: 300px;
    }

    .card-item3 img {
        width: 370px;
        height: 370px;
    }
}