* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #071B27;
    height: 990px;
    color: #fff;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.nav-logo {
    font-size: 40px;
}

.nav-logo a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    column-gap: 30px;
}

.nav-links li {
    list-style: none;
    font-weight: 500;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.nav-links li a:hover {
    color: #289BDE;
}

.buttons {
    display: flex;
    gap: 18px;
}

.buttons .btn-1 {
    color: #fff;
    padding: 10px 15px;
    background: #071B27;
    border: 1px solid white;
    border-radius: 5px;
}

.buttons .btn-2 {
    padding: 10px 42px;
    color: #fff;
    background: #071B27;
    border: 1px solid white;
    border-radius: 5px;
}

.buttons button:hover {
    background: #289BDE;
    cursor: pointer;
}

/* Banner section */
.banner {
    text-align: center;
    margin-top: 220px;
    position: relative;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
}

.banner-subtitle {
    font-size: 30px;
    font-weight: 500;
}

.banner .buttons {
    display: flex;
    gap: 24px;
    margin-top: 40px;
    justify-content: center;
}

.banner .buttons button {
    font-size: 20px;
    color: #fff;
    padding: 20px 30px;
    background: #071B27;
    border: 1px solid white;
    border-radius: 5px;
}

.banner .buttons button:hover {
    background: #289BDE;
    cursor: pointer;
}

.banner .background-image-1 {
    width: 385px;
    height: 245px;
    position: absolute;
    left: 70px;
    top: 25px;
}

.banner .background-image-2 {
    width: 385px;
    height: 245px;
    position: absolute;
    right: 70px;
    top: 25px;
}

.banner-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

#banner-cards {
    margin: -250px 40px 130px 40px;

}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-item1 {
    width: 343px;
    height: 432px;
    border-radius: 15px;
}

.card-item2 {
    width: 417px;
    height: 281px;
    margin-top: 50px;
    position: relative;
}

.card-item2 .item-child1 {
    width: 234.386px;
    height: 281.263px;
    border-radius: 12px;
}

.card-item2 .item-child2 {
    width: 299.493px;
    height: 140.632px;
    position: absolute;
    top: -70px;
    left: 117px;
}


.card-item3 {
    width: 445.333px;
    height: 385.435px;
    border-radius: 12px;
}


/* About us section */
.about-info {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.about-info h4 {
    color: #289BDE;
    font-size: 20px;
    font-weight: 500;
}

.about-info h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
}

.about-info p {
    font-size: 20px;
    color: #666;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-wrapper .item-child:nth-child(even) {
    flex-direction: row-reverse;
}

.about-wrapper .item-child {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-wrapper .item-child .cover-image {
    width: 455px;
    height: 485px;
}

.about-wrapper .item-child .texts {
    width: 785px;
}

.about-wrapper .item-child .texts h1 {
    color: #07003B;
    font-size: 42px;
    font-weight: 700;
}

.about-wrapper .item-child .texts p {
    font-size: 20px;
    color: #666;
    line-height: 40px;
}

.about-wrapper .item-child .texts p>span {
    font-weight: 700;
    color: #289BDE;
}

/* Services section */
#services {
    background: #071B27;
    height: 1200px;
    padding: 157px;
    margin-top: 140px;
}

#services .section-info p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

#services .section-info h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.card-wrapper {
    margin-top: 60px;
    display: flex;
    gap: 40px;
}

.card-wrapper .card {
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #fff;
    background: rgba(255, 255, 255, 10%);
}

.card-wrapper .card {
    width: 564px;
    height: 938px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 40px;
}

.card .card-image {
    height: 445px;
    border-radius: 5px;
}

.card-info .card-title {
    font-size: 30px;
    font-weight: 600;
}

.card-info .card-heading {
    display: flex;
    gap: 10px;
}

.card-info .list-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    font-size: 20px;
}

.card-info .list-items div {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}

.card-info .list-items div img {
    margin-top: 5px;
}

.card-info strong {
    color: #289BDE;
    font-weight: 700;
}

/* Mission and Vision section */
#mission .container {
    display: flex;
    margin-top: 140px;
    gap: 125px;
}

#mission .section-info {
    width: 555px;
}

#mission .section-image {
    width: 662px;
    height: 518px;
}

#mission .section-title {
    font-size: 40px;
    font-weight: 700;
    color: #071B27;
}

#mission .mission-part {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin: 58px 0 25px 0;
}

#mission .mission-part h3 {
    color: #071B27;
    font-size: 26px;
    font-weight: 600;
}

#mission .mission-part p {
    color: #666;
    line-height: 27px;
}

#mission .vision-part {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

#mission .vision-part h3 {
    color: #071B27;
    font-size: 26px;
    font-weight: 600;
}

#mission .vision-part p {
    color: #666;
    line-height: 27px;
}